{% extends "layout.html" %}
{% block content %}
<div class="contaidee">
    <div class="row">
        <form class="form-horizontal" name="form1" action="/resDistancia" method="POST">
            <div class="control-group">
                <label for="txtX1" class="control-label">X1</label>
                <div class="controls">
                    <input type="text" name="txtX1" class="input-xlarge"
                    placeholder="X1" value=""> 
                    <br>
                <label for="txtY1" class="control-label">Y1</label>
                    <div class="controls">
                    <input type="text" name="txtY1" class="input-xlarge"
                        placeholder="Y1" value="">
                        <br>
                <label for="txtX2" class="control-label">X2</label>
                    <div class="controls">
                    <input type="text" name="txtX2" class="input-xlarge"
                            placeholder="X2" value=""> 
                    <br>
                    <label for="txtY2" class="control-label">Y2</label>
                    <div class="controls">
                    <input type="text" name="txtY2" class="input-xlarge"
                                placeholder="Y2" value="">

                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-default btn-primary">
                        <i class="icon- icon-white"></i>calcular
                    </button>
                </div>

            </div>

        </form>
    </div>
</div> 
{% endblock %}